<link rel="stylesheet" href="/css/open-blog.css">

<h1>Blog</h1>

<div id="opendiv">
    <div class="tcc">
        <div class="tcc1">
            Title:
        </div>
        <div class="tcc2">
            <%= open_blog.title %>
        </div>
    </div>
    <div class="tcc">
        <div class="tcc1">
            Category:
        </div>
        <div class="tcc2">
            <%= open_blog.category %>
        </div>        
    </div>
    <div class="tcc">
        <div class="tcc1">
            Content:
        </div>
        <div class="tcc2">
            <%= open_blog.content %>
        </div>
    </div>
    
</div>

<div class="buttons">
    <a href="/blog/delete/?id=<%= open_blog.id %>">
        <button class="delete-button">Delete</button>
    </a>
    <a href="/blog/edit/?id=<%= open_blog.id %>">
        <button class="edit-button">Edit</button>
    </a>
</div>
